html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    display: inline-flex;
}

.container {
    position: relative;
    display: inline-flex;
}

.logo {
    position: absolute;
    color: white;
    top: 25%;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}

.odin {
    padding-top: 8px;
}

.logo p {
    font-size: 100px;
    margin: 0px;
}

.odin {
    height: 100px;
}

.photo-credit {
    position: absolute;
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.info p {
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgb(250, 250, 250);
}

.info, .form, .button {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}

.form {
    border-top: solid thin #E5E7EB;
    border-bottom: solid thin #E5E7EB;
    box-shadow: 0px 2px 12px;
    background-color: rgb(255, 255, 255)
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
}

form p {
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}

section {
    display: flex;
}

label {
    font-size: 14px;
    padding: 0px;
}

input {
    width: 300px;
    border: solid thin;
    border-color: rgb(235, 235, 235);
    border-radius: 2px;
    padding: 5px;
}

section div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 100px;
}

.info {
    padding-bottom: 50px;
}

.button {
    padding-top: 50px;
}

.button p {
    font-size: 16px;
}

button {
    background-color: #596D48;
    color: white;
    padding: 20px;
    font-size: 25px;
    border-radius: 10px;
    border: 0px;
}