html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    display: inline-flex;
}

.container {
    position: relative;
    display: inline-flex;
}

.logo {
    position: absolute;
    color: white;
    top: 25%;
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
}

.odin {
    padding-top: 8px;
}

.logo p {
    font-size: 100px;
    margin: 0px;
}

.odin {
    height: 100px;
}

.photo-credit {
    position: absolute;
    top: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.info p {
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}

.container-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 50px;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
}

form p {
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
}

section {
    display: flex;
}

label {
    font-size: 14px;
}

input {
    width: 300px;
}

section div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-right: 100px;
}

.button p {
    font-size: 16px;
}

button {
    background-color: #596D48;
    color: white;
    padding: 20px;
    font-size: 25px;
    border-radius: 10px;
    border: 0px;
}